@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";

@import url('https://fonts.googleapis.com/css?family=Overpass:400,400i,600,600i,700,700i|Crimson+Text:400,600,700&display=swap');

body {
  background: #fff;
  font-family: 'Overpass', sans-serif;
  font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Crimston Text', serif;
}

.navbar-brand{
  font-weight: 800;
  letter-spacing: -0.005em;
}

.masthead {
	height: 100vh;
	min-height: 500px;
	background-image: url('https://source.unsplash.com/2ecH5Lw3zSk/1920x1080');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.masthead .container:before {
    content: "";
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 70%, rgba(0,0,0,0.7) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.7) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 70%,rgba(0,0,0,0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 );
    height: 60vh;
    opacity: .4;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}


blockquote p {
  font-family: 'Crimston Text', serif;
  font-size: 30px;
}
blockquote p cite {
  font-family: 'Overpass', sans-serif;
  color: rgba(0,0,0,0.4);
  font-size: 15px;
  font-weight: 400;
}

.card {
	position: relative;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
	box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
	border: 1px solid #EFF2F7;
}
[class*=shadow] {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[class*=hover-] {
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.hover-shadow-lg:hover {
    -webkit-box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
    box-shadow: 0 1rem 3rem rgba(31, 45, 61, 0.125) !important;
}

.translate-y-n10, .hover-translate-y-n10:hover {
    -webkit-transform: translateY(-10px) !important;
    -ms-transform: translateY(-10px) !important;
    transform: translateY(-10px) !important;
}

#section3 button {
  padding-left: 0;
  font-weight: bold;
  text-decoration: none;
}
@media (max-width: 768px) {
  #section3 button:after{

  }
  // i.right {
  //   transform: rotate(45deg);
  //   -webkit-transform: rotate(45deg);
  // }
}

i.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

i.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

#section3 button[aria-expanded = true] i.arrow.right {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
  i.arrow {
    display: none;
  }
}

.background-1 {
    background-color: #141414 !important;
}

.color-1 {
  color: #141414 !important;
}

.color-8 {
  color: rgba(0,0,0,0.4);
}

.color-9 {
  color: #e1e1e1 !important;
}

.color-6 {
  color: #7f7f7f !important;
}